<!DOCTYPE html>
<html>
<head>
    <title>ITAKEYOU</title>
    <!-- Load all CSS -->
    <link rel="stylesheet" href="../style/nav.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/foot.css">
    <!-- Favicon fix -->
    <link rel="icon" href="data:,">
</head>
<body class="home-page">
    <!-- Navigation Container -->
    <div id="nav-container"></div>
    
    <!-- Dynamic Content Area -->
     <div>
    <main id="content-container">
        <!-- Initial content will be replaced -->
        <h1>Welcome to ITAKEYOU</h1>
    </main>
</div>
    <!-- Footer Container -->
    <div id="foot-container"></div>
    
    <!-- Main JavaScript -->
    <script src="../javascript/main.js" ></script>
    
</body>
</html>
