<!DOCTYPE html>
<head>
<link rel="stylesheet" href="../style/nav.css" class="dynamic-css">
</head>

<body>
    <nav class="navbar clearfix">
        <div class="logo">ITAKEYOU</div>
        
        <div class="desktop-nav">
            <!-- <a href="home.html" class="nav-link">Home</a> -->
            <a href="products.html" class="nav-link">Products <span class="limited-offer">New!</span></a>
            <a href="productmanage.html" class="nav-link">Products Manage </a>
            <a href="cart.html" class="nav-link"> Cart <span class="cart-count">0</span></a>
            <!-- <a href="checkout.html" class="nav-link">Checkout</a> -->
            <a href="order.html" class="nav-link">Orders</a>
            <a href="feedback.html" class="nav-link">Feedback</a>
            <a href="refund.html" class="nav-link">Refund</a>
            <a href="signup.html" class="nav-link">Register</a>
            <a href="login.html" class="nav-link">Login</a>
            <!-- Other nav links -->
        </div>
        
        <button class="menu-btn" onclick="toggleMenu()">☰</button>
    </nav>
    <div class="mobile-nav" id="mobileNav">
            <a href="home.html" class="nav-link">Home</a>
            <a href="products.html" class="nav-link">Products <span class="limited-offer">New!</span></a>
            <a href="productmanage.html" class="nav-link">Products Manage </a>
            <a href="cart.html" class="nav-link">Cart <span class="cart-count">0</span></a>
            <a href="checkout.html" class="nav-link">Checkout</a>
            <a href="order.html" class="nav-link">Orders</a>
            <a href="feedback.html" class="nav-link">Feedback</a>
            <a href="refund.html" class="nav-link">Refund</a>
            <a href="registration.html" class="nav-link">Register</a>
            <a href="login.html" class="nav-link">Login</a>
        </div>
        <script src="../javascript/nav.js" defer></script>
    </body>
    </html>
    
